{% import "fields.html.twig" as forms %}
{% import "tabs.html.twig" as tabs %}
{% import "buttons.html.twig" as buttons %}



<div class="centercontent">
                
    <div class="pageheader notab">
        <h1 class="pagetitle">{{ titlePage }}</h1>
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper">

        <div class="subcontent">
            <form id="frm" class="stdform stdform2" action="conselheiro/salvar" method="{{ method }}">
                {{ forms.field("Data e Hora Cadastro/Publicação:", [
                                               forms.date("dataInicial", conselheiro.getDataInicial() ? conselheiro.getDataInicial().format('d/m/Y') : data.format('d/m/Y') , "Data Inicial", "date periodo"), 
                                               forms.time("horaInicial", conselheiro.getDataInicial() ? conselheiro.getDataInicial().format('H:i') : hora.format('H:i'), "Hora inicial", "hora smallinput periodo")
                                            ]|join 
                              )
                }}
                {{ forms.field("Data e Hora Despublicação:", [
                                              forms.date("dataFinal", conselheiro.getDataFinal().format('d/m/Y') , "Período final", "date periodo"), 
                                              forms.time("horaFinal", conselheiro.getDataFinal().format('H:i') , "Hora final", "hora smallinput periodo")
                                            ]|join 
                              )
                }}
                
                {{ forms.field("Nome", forms.text("nome", conselheiro.getNome(), "Nome") ) }}
                {{ forms.field("Instituição", forms.text("instituicao", conselheiro.getInstituicao(), "Instituição", '', '', '', '120') ) }}
                {{ forms.field("Conselheiro", forms.radio("tipo", tipos, conselheiro.getTipo()) ) }}
                {{ forms.hidden("id", conselheiro.getId()) }}
                {{ forms.break([buttons.submit(), buttons.iconButton("Cancelar", "javascript:history.back()", "no_icon")]|join, true) }}
            </form>
        </div>


    </div><!--contentwrapper-->

    <br clear="all" />

</div><!-- centercontent -->