{% if subsite is not empty %}
<div class="menu-subsite">
    <div class="menu-subsite-subsite">
        {% if menu.subsite is not empty %} 
            <a href="#">
        {% endif %}

            <img src="{{ base_link }}templates/portal/assets/img/menu-subsite.jpg" alt="Menu" title="Menu" class="img-subsite" data-trigger="hover"
                 data-toggle="popover" data-container="body"
                 data-content="{{ imagem.getLegenda() }}"/>

        {% if menu.subsite is not empty %} 
            </a>
        {% endif %}

        <div class="menu-expandido-subsite" >
            {{ menu.subsite | raw }}
        </div>                    

    </div>
    <div class="titulo-menu-subsite" >
        <a href="{{ base_link }}{{ subsite.getSigla() | lower }} " >
                <span style="padding-left: 10px;">
                     {{ subsite.getNome() }} 
                </span>
                </a>
    </div>
    <div style="float:right; padding-right: 10px;" >
               {{ redes | raw}}
            </div>
</div> 
{% endif %}

<div id="master">
    <article class="master-content" role="main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{{ base_link }}">Página inicial</a></li>
                {% if bread != null %}
                    {% if bread.site != null and bread.site.id != 1 %}
                        <li>
                            <a href="{{ route() }}">{{ bread.site.nome }}</a>
                        </li>
                    {% endif %}
                    {% if bread.getVinculoPai.getVinculoPai != null %}
                        <li>
                        {% if not bread.getVinculoPai.getVinculoPai.getUrlExterna is empty %}
                        <a href="{{ bread.getVinculoPai.getVinculoPai.getUrlExterna }}">
                            {{ bread.getVinculoPai.getVinculoPai.getTitulo }}
                        </a>
                        {% elseif not generateUrl(bread.getVinculoPai.getVinculoPai) is empty %}
                        <a href="{{ generateUrl(bread.getVinculoPai.getVinculoPai) }}">
                            {{ bread.getVinculoPai.getVinculoPai.getTitulo }}
                        </a>
                        {% else %}
                        {{ bread.getVinculoPai.getVinculoPai.getTitulo }}
                        {% endif %}
                        </li>
                    {% endif %}
                    {% if bread.getVinculoPai != null %}
                        <li>
                        {% if not bread.getVinculoPai.getUrlExterna is empty %}
                        <a href="{{ bread.getVinculoPai.getUrlExterna }}">
                            {{ bread.getVinculoPai.getTitulo }}
                        </a>
                        {% elseif not generateUrl(bread.getVinculoPai) is empty %}
                        <a href="{{ generateUrl(bread.getVinculoPai) }}">
                            {{ bread.getVinculoPai.getTitulo }}
                        </a>
                        {% else %}
                        {{ bread.getVinculoPai.getTitulo }}
                        {% endif %}
                        </li>
                    {% endif %}
                    <li><a href="{{ route('galeria') }}">{{ bread.titulo }}</a></li>
                {% elseif breadFototeca != null %}
                    {% if breadFototeca.getVinculoPai.getVinculoPai != null %}
                        <li>
                        {% if not breadFototeca.getVinculoPai.getVinculoPai.getUrlExterna is empty %}
                        <a href="{{ breadFototeca.getVinculoPai.getVinculoPai.getUrlExterna }}">
                            {{ breadFototeca.getVinculoPai.getVinculoPai.getTitulo }}
                        </a>
                        {% elseif not generateUrl(breadFototeca.getVinculoPai.getVinculoPai) is empty %}
                        <a href="{{ generateUrl(breadFototeca.getVinculoPai.getVinculoPai) }}">
                            {{ breadFototeca.getVinculoPai.getVinculoPai.getTitulo }}
                        </a>
                        {% else %}
                        {{ breadFototeca.getVinculoPai.getVinculoPai.getTitulo }}
                        {% endif %}
                        </li>
                    {% endif %}
                    {% if breadFototeca.getVinculoPai != null %}
                        <li>
                        {% if not breadFototeca.getVinculoPai.getUrlExterna is empty %}
                        <a href="{{ breadFototeca.getVinculoPai.getUrlExterna }}">
                            {{ breadFototeca.getVinculoPai.getTitulo }}
                        </a>
                        {% elseif not generateUrl(breadFototeca.getVinculoPai) is empty %}
                        <a href="{{ generateUrl(breadFototeca.getVinculoPai) }}">
                            {{ breadFototeca.getVinculoPai.getTitulo }}
                        </a>
                        {% else %}
                        {{ breadFototeca.getVinculoPai.getTitulo }}
                        {% endif %}
                        </li>
                    {% endif %}
                    <li><a href="{{ route('fototeca') }}">{{ breadFototeca.getTitulo }}</a></li>
                    <li class="active">Galerias</li>
                {% else %}
                    <li><a href="{{ route() }}">{{ site.nome }}</a></li>
                    <li class="active"><a href="{{ route("galeria") }}">Galerias</a></li>
                {% endif %}
                <li class="active">{{ entity.getTitulo() }}</li>
            </ol>
            <h2>{{ entity.getTitulo() }}</h2>
        </div>

        <div class="row">
            <div class="content-galeria content-galeria-fototeca">     
                <ul class="bxslider">
               {% for id in ordem %}
                   {% for imagem in entity.getImagens() %}
          				{% if id == imagem.getId() %}
		                    <li align="center">
		                        <div>
		                            <img src="{{ base_link }}image.php?w=880&src={{ imgCompletePath(imagem) }}" 
                                                 alt="{{ imagem.getNome() }}" 
                                                 class="title-creditos"
                                                {% if imagem.getCredito() is not empty %}
                                                    title="{{ ["", imagem.getCredito()] | join(' Foto: ') }}"
                                                {% endif %}
                                                 data-container="body"
                                                 data-content="{{ imagem.getLegenda() }}"/>
		                        </div>
		                        <div class="lengenda-banner">{{ imagem.getLegenda() }}</div>
		                    </li>
	               		{% endif %}
	               {% endfor %}
               {% endfor %}
                </ul>
            </div>
            <div class="row descricao-fototeca">
                <div>{{ entity.getDescricao() | raw }}</div>
            </div>
        </div>

    </article>
    <div class="row" style="margin-bottom: 18px; margin-left: 40px;">
        <div class="addthis_toolbox">
            <div class="custom_images">
                <div id="custom_span">
                    <span>Compartilhar</span>
                </div>
                <a class="addthis_button_facebook"><img src="{{ base_link }}/templates/portal/assets/img/facebook_.png" border="0" alt="Facebook" title="Facebook" /></a>
                <a class="addthis_button_twitter"><img src="{{ base_link }}/templates/portal/assets/img/twitter_.png" border="0" alt="Twitter" title="Twitter" /></a>
                <a class="addthis_button_email"><img src="{{ base_link }}/templates/portal/assets/img/email_.png" border="0" style="height: 30px;" alt="Email" title="Email" /></a>
                <a class="addthis_button_linkedin"><img src="{{ base_link }}/templates/portal/assets/img/linkedin_.png" style="height: 34px;" border="0" alt="Linkedin" title="Linkedin" /></a>

            </div>
        </div>
    </div>
</div>