<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }}</title>
        <base href="{{ base_link }}">
        {% for style in styles %}
            <link href="{{ css_link }}{{ style }}" type="text/css" rel="stylesheet"/>
        {% endfor %}
        {% for script in scripts %}
            <script src="{{ js_link }}{{ script }}" type="text/javascript"></script>
        {% endfor %}
    </head>
