{% import "fields.html.twig" as forms %}
{% import "breadCrumbs.html.twig" as breadCrumbs %}
<section id="master" role="main">
    <article class="master-content">
        <div class="row">
            {{ breadCrumbs.breadCrumbs(bread, site, "Dicionário do Patrimônio Cultural") }}
        </div>
        <div class="row">
            <h2>Dicionário Iphan de Patrimônio Cultural</h2>							
        </div>
        <div class="row">
            <form action="{{ base_link }}dicionarioPatrimonioCultural" method="get">
                <ul class="pesquisa-legislacao">
                    <li class="pesquisa-legislacao-categoria">
                        <label for="categoria">Categoria</label>
                        {{ forms.select_id('categoria', categorias, categoria, 'Selecione uma categoria') }}
                    </li>
                    <li class="pesquisa-legislacao-palavraChave">
                        <label for="busca">Palavra-chave</label>
                        <input type="text" name="busca" id="busca" value="{{ busca }}" />
                    </li>
                    <li class="pesquisa-legislacao-btBuscar">
                        <input type="submit" value="buscar" class="btn-btBusca">
                    </li>
                </ul>
            </form>
        </div>       
        

        <div class="row">
            <ul class="lista-letras clearfix">
                {% set filtro_letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h',
                'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
                'u', 'v', 'w', 'x', 'y', 'z'] %}

                {% for letra_filtro in filtro_letras %}
                    <li class="{{ (loop.first) ? 'first' : null }} {{ (loop.last) ? 'last' : null }} {{ (paramLetra == letra_filtro) ? 'active' : null }}">
                        <a href="{{ base_link ~ 'dicionarioPatrimonioCultural?letra=' ~ letra_filtro }}">
                            {{ letra_filtro }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="row">

            {% if results | length > 0 %}

                {% if paramLetra is not empty %}
                    <h3 class="letra-grande">{{ paramLetra }}</h3>
                {% endif %}

                <ul class="lista-dicionario">

                    {% for result in results %}

                        <ul class="lista-dicionario">
                            <li>
                                <div>
                                    {#<span>{{ result.getCategoria().getNome() }}</span>#}
                                    <h4> <a href="{{ base_link ~ 'dicionarioPatrimonioCultural/detalhes/' ~ result.getId() ~ '/' ~ slugify(result.getTitulo()) }}">
                                            {{ result.getTitulo() }}
                                        </a></h4>
                                    <span>{{ result.getVerbete() }}</span>
                                </div>									
                               {# <p>
                                    {{ result.getDescricao() | striptags | truncatetext(350) | raw }}
                                </p>	#}								
                            </li>
                        </ul>
                    {% endfor %}
                </ul>

            {% else %}

            <p>Nenhum registro encontrado.</p>

            {% endif %}

        </div>
    </article>

    {% if results | length > 0 %}
        <div class="box-cinza">
            <div class="box-cinza-margem">
                <div class="paginacao">
                    {{ pagination | raw }}
                    <!-- Exibe a quantidade de registros (resultados + destaques) -->
                    <p class="nregistros">Registros encontrados: {{ paginationObject.getNbResults() }}</p>
                </div>
            </div>
        </div>
    {% endif %}

</section>
