{% if subsite is not empty %}
<div class="menu-subsite">
    <div class="menu-subsite-subsite">
        {% if menu.subsite is not empty %} 
            <a href="#">
        {% endif %}

            <img src="{{ base_link }}templates/portal/assets/img/menu-subsite.jpg" alt="Menu" title="Menu" class="img-subsite" />

        {% if menu.subsite is not empty %} 
            </a>
        {% endif %}

        <div class="menu-expandido-subsite" >
            {{ menu.subsite | raw }}
        </div>                    

    </div>
    <div class="titulo-menu-subsite" >
        <a href="{{ base_link }}{{ subsite.getSigla() | lower }} " >
                <span style="padding-left: 10px;">
                     {{ subsite.getNome() }} 
                </span>
                </a>
    </div>
    <div style="float:right; padding-right: 10px;" >
        {{ redes | raw}}
    </div>
</div> 
{% endif %}

<section id="master" role="main">				
    <article class="master-content editais">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{{ base_link }}">Página inicial</a></li>
                {% if site != null and site.id != 1 %}
                    <li>
                        <a href="{{ route() }}">{{ site.nome }}</a>
                    </li>
                {% endif %}
                {% if bread.getVinculoPai.getVinculoPai != null %}
                    <li>
                    {% if not bread.getVinculoPai.getVinculoPai.getUrlExterna is empty %}
                    <a href="{{ bread.getVinculoPai.getVinculoPai.getUrlExterna }}">
                        {{ bread.getVinculoPai.getVinculoPai.getTitulo }}
                    </a>
                    {% elseif not generateUrl(bread.getVinculoPai.getVinculoPai) is empty %}
                    <a href="{{ generateUrl(bread.getVinculoPai.getVinculoPai) }}">
                        {{ bread.getVinculoPai.getVinculoPai.getTitulo }}
                    </a>
                    {% else %}
                    {{ bread.getVinculoPai.getVinculoPai.getTitulo }}
                    {% endif %}
                    </li>
                {% endif %}
                {% if bread.getVinculoPai != null %}
                    <li>
                    {% if not bread.getVinculoPai.getUrlExterna is empty %}
                    <a href="{{ bread.getVinculoPai.getUrlExterna }}">
                        {{ bread.getVinculoPai.getTitulo }}
                    </a>
                    {% elseif not generateUrl(bread.getVinculoPai) is empty %}
                    <a href="{{ generateUrl(bread.getVinculoPai) }}">
                        {{ bread.getVinculoPai.getTitulo }}
                    </a>
                    {% else %}
                    {{ bread.getVinculoPai.getTitulo }}
                    {% endif %}
                    </li>
                {% endif %}
                {% if bread != null %}
                    <li><a href="{{ route('editais') }}">{{ bread.getTitulo }}</a></li>
                {% else %}
                    <li><a href="{{ route('editais') }}">Concursos, Seleções e Editais</a></li>
                {% endif %}
                <li class="active">{{ result.getNome() }}</li>
            </ol>
        </div>

        <div class="row">
            <h2 class="pull-left">Concursos, Seleções e Editais</h2>
        </div>

        <div class="row">
            <h3 class="m0">{{ result.getNome() }}</h3>
        </div>

        <div class="row mt40">
            <div class="dados">
                <div class="dado">
                    <div class="cabecalho-info">
                        <p>Conteúdo</p>
                    </div>
                    <div class="info">
                        <p>{{ result.getConteudo() | raw }}</p>
                    </div>
                </div>
                <div class="dado">
                    <div class="cabecalho-info">
                        <p>Categoria</p>
                    </div>
                    <div class="info">
                        <p>{{ result.getCategoria() }}</p>
                    </div>
                </div>
                <div class="dado">
                    <div class="cabecalho-info">
                        <p>Status</p>
                    </div>
                    <div class="info">
                        <p>{{ result.getStatus() }}</p>
                    </div>
                </div>
            </div>
            <div class="arquivos">
                <div class="dado">
                    <div class="cabecalho-info">
                        <p>Arquivo</p>
                    </div>
                    <div class="info">
                        <p>{{ result.getArquivo() | raw }}</p>
                    </div>
                </div>
            </div>
        </div>


    </article>

</section>
