{% if subsite is not empty %}
<div class="menu-subsite">
    <div class="menu-subsite-subsite">
        {% if menu.subsite is not empty %} 
            <a href="#">
        {% endif %}

            <img src="{{ base_link }}templates/portal/assets/img/menu-subsite.jpg" alt="Menu" title="Menu" class="img-subsite" />

        {% if menu.subsite is not empty %} 
            </a>
        {% endif %}

        <div class="menu-expandido-subsite" >
            {{ menu.subsite | raw }}
        </div>                    

    </div>
    <div class="titulo-menu-subsite" >
         <a href="{{ base_link }}{{ subsite.getSigla() | lower }} " >
                <span style="padding-left: 10px;">
                     {{ subsite.getNome() }} 
                </span>
                </a>
    </div>
    <div style="float:right; padding-right: 10px;" >
        {{ redes | raw}}
     </div>
</div> 
{% endif %}
<section id="master" role="main">
    <article class="master-content">

        <!-- Breadcrumb -->
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{{ base_link }}">Página inicial</a></li>
                {% if site != null and site.id != 1 %}
                    <li>
                        <a href="{{ route() }}">{{ site.nome }}</a>
                    </li>
                {% endif %}
                {% if bread.getVinculoPai.getVinculoPai != null %}
                <li>
                    {% if not bread.getVinculoPai.getVinculoPai.getUrlExterna is empty %}
                    <a href="{{ bread.getVinculoPai.getVinculoPai.getUrlExterna }}">
                        {{ bread.getVinculoPai.getVinculoPai.getTitulo }}
                    </a>
                    {% elseif not generateUrl(bread.getVinculoPai.getVinculoPai) is empty %}
                    <a href="{{ generateUrl(bread.getVinculoPai.getVinculoPai) }}">
                        {{ bread.getVinculoPai.getVinculoPai.getTitulo }}
                    </a>
                    {% else %}
                    {{ bread.getVinculoPai.getVinculoPai.getTitulo }}
                    {% endif %}
                </li>
                {% endif %}
                {% if bread.getVinculoPai != null %}
                    <li>
                    {% if not bread.getVinculoPai.getUrlExterna is empty %}
                    <a href="{{ bread.getVinculoPai.getUrlExterna }}">
                        {{ bread.getVinculoPai.getTitulo }}
                    </a>
                    {% elseif not generateUrl(bread.getVinculoPai) is empty %}
                    <a href="{{ generateUrl(bread.getVinculoPai) }}">
                        {{ bread.getVinculoPai.getTitulo }}
                    </a>
                    {% else %}
                    {{ bread.getVinculoPai.getTitulo }}
                    {% endif %}
                    </li>
                {% endif %}
                {% if bread != null %}
                    <li><a href="{{ route('agendaEventos') }}">{{ bread.getTitulo }}</a></li>
                {% else %}
                    <li><a href="{{ route('agendaEventos') }}">Agenda</a></li>
                {% endif %}
                <!-- <li class="active">Detalhes</li>-->
                <li class="active">{{ result.getTitulo() }}</li>
            </ol>
        </div>

        <!-- Conteúdo -->
        <div class="row">
            <h2 class="pull-left">{{ result.getLabel() }}</h2>
            <a class="voltar pull-right mt15" href="{{ route('agendaEventos') }}">Voltar</a>							
        </div>
        <div class="row">
            <ul class="lista-cadastros">
                <li>
                    <div class="box-cinza p10">
                        <h4>{{ result.getLocal() }} | {{ result.getCidade() }} - {{ result.getUf() }}</h4>
                        <span>
                            {% if result.getPeriodoInicial().format('d/m/Y') != result.getPeriodoFinal().format('d/m/Y') %}
                                {{ result.getPeriodoInicial().format('d/m/Y') }} até {{ result.getPeriodoFinal().format('d/m/Y') }}
                            {% else %}
                                {{ result.getPeriodoInicial().format('d/m/Y') }}
                            {% endif %}
                                
                            {% if result.getPeriodoFinal().format('H') > result.getPeriodoInicial().format('H') %}
                                - {{ result.getPeriodoInicial().format('H') }}h{{ result.getPeriodoInicial().format('i') }} às {{ result.getPeriodoFinal().format('H') }}h{{ result.getPeriodoFinal().format('i') }}
                            {% else %}
                                 - {{ result.getPeriodoInicial().format('H') }}h{{ result.getPeriodoInicial().format('i') }}
                            {% endif %}
                        </span>
                    </div>

                    <p class="p10">
                        <strong>Endereço:</strong> {{ result.getEndereco() }} {{ result.getNumero() }} {{ ( result.getComplemento() is not empty ? ' / ' ~ result.getComplemento() : '' ) }}
                    </p>
                    
                    {% if result.getTelefone() is not empty %}
                        <p class="p10">
                            <strong>Telefone:</strong> {{ result.getTelefone() }}
                        </p>
                    {% endif %}
                    
                    {% if result.getCelular() is not empty %}
                        <p class="p10">
                            <strong>Celular:</strong> {{ result.getCelular() }}
                        </p>
                    {% endif %}
                    
                    {% if result.getEmail() is not empty %}
                        <p class="p10">
                            <strong>Email:</strong> {{ result.getEmail() }}
                        </p>
                    {% endif %}
                        
                    {% if result.getSite() is not empty %}
                        <p class="p10">
                            <strong>Site:</strong> {{ result.getSite() }}
                        </p>
                    {% endif %}
                        
                    {% if result.getIngresso() is not empty %}
                        <p class="p10">
                            <span class="destaque">Inscrição:</span> {{ result.getIngresso() }}
                        </p>
                   {% endif %}                  
                    
                    
                   <!--  <div class="p10">
                        <h3>Always hungry need to chase tail</h3>
                        <strong>Scamper throwup on your pillow make muffins leave fur on owners clothes</strong>
                    </div> -->
                        
                    <div class="p10">
                        {{ result.getDescricao() | raw }}
                    </div>
                </li>
            </ul>
        </div>


    </article>

</section>

